.container{
    background-color: red;
    border: solid black;
    padding: 20px;


}

.container-titulo{
    background-color: rgb(30, 255, 0);
    border: solid black;
    width: 100px;

}
#titulo{
    background-color: aqua;
    border: solid blue;
    text-align: center;
}

.padre{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    height: 200px;
}
.hijo{
    border: solid black;
    width: 100px;
    height: 100px;
}